
@keyframes move {
	50% {
		padding-left: 8px;
		padding-right: 0px;
	}
	100% {
		padding-right: 4px;
	}
}
@keyframes slice {
	60% {
		width: 100%;
		left: 4px;
	}
	100% {
		width: 100%;
		left: -2px;
		padding-left: 0;
	}
}
@keyframes check-01 {
	0% {
		width: 4px;
		top: auto;
		transform: rotate(0);
	}
	50% {
		width: 0px;
		top: auto;
		transform: rotate(0);
	}
	51% {
		width: 0px;
		top: 4px;
		transform: rotate(45deg);
	}
	100% {
		width: 5px;
		top: 8px;
		transform: rotate(45deg);
	}
}
@keyframes check-02 {
	0% {
		width: 4px;
		top: auto;
		transform: rotate(0);
	}
	50% {
		width: 0px;
		top: auto;
		transform: rotate(0);
	}
	51% {
		width: 0px;
		top: 8px;
		transform: rotate(-45deg);
	}
	100% {
		width: 10px;
		top: 8px;
		transform: rotate(-45deg);
	}
}
@keyframes firework {
	0% {
		opacity: 1;
		box-shadow: 0 0 0 -2px #7caafa, 0 0 0 -2px #7caafa, 0 0 0 -2px #7caafa,
			0 0 0 -2px #7caafa, 0 0 0 -2px #7caafa, 0 0 0 -2px #7caafa;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		box-shadow: 0 -15px 0 0px #7caafa, 14px -8px 0 0px #7caafa,
			14px 8px 0 0px #7caafa, 0 15px 0 0px #7caafa,
			-14px 8px 0 0px #7caafa, -14px -8px 0 0px #7caafa;
	}
}




//--- ## BASIC #############
body {
  background-color: #e9f1fe;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.link {  
  color: rgb(0, 84, 186);
  text-decoration: none;
  font-family: "Trirong", serif;
}

h2 {
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 48px;
  color: #6e1420;
  margin: 1px;
  padding-left: .5em;
  text-shadow: .5px .5px #f00000;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-weight: bold;
  font-weight: 1100;
  letter-spacing: .5px;
  font-size: 31px;
  color: #15643c;
  margin: 1px;
}
.main-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 2em;

}

.card {
  padding-left: .8em;
  align-items: center;
  width: 280px;
  height: auto;
  margin-top: .5em;
  margin-bottom: .5em;
}

.img {
  align-items: center;
  justify-content: center;
  display: flex;
}

#info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Trirong", serif;
  font-size: 20px;
  padding-left: .1em;
}

.App-logo {
  width: 100%;
  height: auto;
}

.App-header {
  background-color: #e9f1fe;
  display: flex;
  align-items: center;
}

.box .content2 {
  height: 100%;
  display: flex;
  background-color: #e9f1fe;
}

.box {
  width: 480px;
  height: 690px;
  box-sizing: border-box;
  padding: 15px;
  position: relative;
  overflow: hidden;
  margin: 3em;
}

.box .content2 {
	position: relative;
	background-color: none;
	flex-direction: column;
	box-sizing: border-box;
	padding: 25px;
	text-align: left;
	z-index: 2;
}

.box,
.box .content2 {
	box-shadow: 0 0 2px #d9e6fa,
				0 0 4px #95afda,
				inset 0 0 5px #95afda;
	border-radius: 4px;
}

.box .content2 p {
  color: #066e3a;
  margin: 12px;
}


/* FOOTER */
.footer {
  width: 250px;
  height: auto;
}

.footer-container {
  text-align: center;
  margin-bottom: -40px;
  padding: 80px;
  padding-bottom: 50px;
}

@function random_range($min, $max) {
	$rand: random();
	$random_range: $min + floor($rand * (($max - $min) + 1));
	@return $random_range;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	background: #e9f1fe;
}
$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 300 {
    $s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    $s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
    @if $i < 300 {
        $s1: $s1 + ",";
        $s2: $s2 + ",";
        $s3: $s3 + ",";
    }
}
.snow {
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top:-100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: 1.3rem;
    height: 1.3rem;
    filter:blur(1.2px);
    box-shadow: #{$s1};
    animation-duration: 12s;
}
.layer1.a {
    animation-delay: -3s;
}
.layer2 {
    width: 1.4rem;
    height: 1.4rem;
    filter:blur(2.8px);
    box-shadow: #{$s2};
    animation-duration: 10s;
}
.layer2.a {
    animation-delay: -4s;
}
.layer3 {
    width: 0.7rem;
    height: 0.7rem;
    filter:blur(5.5px);
    box-shadow: #{$s3};
    animation-duration: 8s;
}
.layer3.a {
    animation-delay: -5s;
}
.layer4 {
	width: .8rem;
	height: .8rem;
	filter: blur(6px);
	box-shadow: #{$s3};
	animation-duration: 20s;
}
.layer4.a {
	animation-delay: -5s;
}
@keyframes fall {
	100% {
		transform: translateY(200vh);
	}
}



/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-device-width : 480px){
  
/* BODY AND HEADER */
body {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h2 {
  text-shadow: .5px .5px #24573e;
  letter-spacing: .5px;
  font-size: 16px;
  margin: 1px;
}

h1 {
  letter-spacing: 1px;
  font-size: 14px;
  margin: 1px;
}


/* CARDS */
.main-container{
  flex-wrap: wrap;
  margin: 1em;
}

.card {
  align-items: center;
  width: 80px;
  height: auto;
  margin-top: .6em;
  margin-bottom: .6em;
}

.img {
  align-items: center;
  justify-content: left;
  padding-left: 20%;
}

#info {
  font-size: 10px;
}

.box .content {
  height: 100%;
}

.box {
	width: 230px;
	height: 300px;
    flex-wrap: wrap;
	box-sizing: border-box;
	padding: 5px;
	position: relative;
	overflow: hidden;
  margin: .8em;
}

.box,
.box .content2 {
	box-shadow: 0 0 1px #d9e6fa,
				0 0 3px #95afda,
				inset 0 0 3px #95afda;
	border-radius: 4px;
}

.box .content2 p {
  margin: 5px;
}

@keyframes animate {
	from {
		background-position: 0;
	}

	to {
		background-position: 0 450px;
	}
}
.snow {
    border-radius: 50%;
    opacity: 0.9;
    position: absolute;
    top:-100vh;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.layer1 {
    width: .6rem;
    height: .6rem;
    filter:blur(.8px);
    box-shadow: #{$s1};
    animation-duration: 14s;
}
.layer1.a {
    animation-delay: -3s;
}
.layer2 {
    width: .4rem;
    height: .4rem;
    filter:blur(.6px);
    box-shadow: #{$s3};
    animation-duration: 12s;
}
.layer2.a {
    animation-delay: -4s;
}
.layer3 {
    width: 0.7rem;
    height: 0.7rem;
    filter:blur(.5px);
    box-shadow: #{$s3};
    animation-duration: 14s;
}
.layer3.a {
    animation-delay: -5s;
}
.layer4 {
	width: .3rem;
	height: .3rem;
	filter: blur(.6px);
	box-shadow: #{$s1};
	animation-duration: 10s;
}
.layer4.a {
	animation-delay: -5s;
}
/* FOOTER */
.footer {
  width: 100px;
  height: auto;
}

.footer-container {
  text-align: center;
  margin-bottom: -20px;
  padding: 10px;
  padding-bottom: 5px;
}


}